
.products{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-evenly;
      gap: 20px;
      padding-bottom: 30px;
      margin-top:10vh;
      
      
      
      
}
.first{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width:300px;
    height:auto;
    text-align: center;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
    

    
    
}
.image{
    
    border-radius: 10px;
    padding: 20px;
   border: 1px solid black;
   padding-bottom:50px;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content:center;

   
    

}

.first h3, p{
    font-size:120%;
    margin-top:10px;

}
.buttons
{
    display:  flex;
    justify-content: space-between;

}

.button1{
    padding:8px 15px;
    background-color: rgb(26, 102, 243);
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}