*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-evenly;
      padding-bottom: 20px;
      row-gap:15px;

      
      
      
      
}
.first{
    width:300px;
    height:auto;
    text-align: center;
    margin-top: 2%;
    border: 1px solid lightgray;
    border-radius: 10px;
    

    
    
}
.image{
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    padding: 30px;
   object-fit: contain;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content:center;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.image :hover{
    transform: scale(1.1);
    transition-duration: 1s;
    filter: contrast(100%);
}

.first h3, p{
    font-size:120%;
    margin-top:10px;

}
.buttons
{
    display:  flex;
    justify-content: space-between;
    margin: 10px;
    

}

.button1{
    padding:8px 15px;
    background-color: rgb(26, 102, 243);
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}